title {
    font-size: xx-large;
    font-family: 'Playfair Display', serif, red;
    text-align: center;
}
h1 {
    font-size: x-large;
    font: black;
    padding: 10px;
}
li {
    font-size:
    font:
    padding
    margin
    outline-width
    outline-length
}
p1 {
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
p2 {
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
h2 {
    font-size: large;
    font: ;
    padding: ;
}

Picturename {
    width: ;
    height: ;
}
secondpicturename {
    width:;
    height: ;
}
* {background-color: black;}